* {
    margin: 0;
    padding: 0;
}

#search {
    display: flex;
    flex-direction: column;
    background-color: gray;
}

#panelvid {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

#vid {
    border: 1px solid black;
}

#bodyvid {
    display: flex;
    flex-direction: row;
}

#leftpanel {
    display: flex;
    flex-direction: column;
}

#bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#vidthumb {
    height: 90px;
    width: 160px;
}

#player {
    height: 432px;
    width: 768px;
}

#btn_submit,
#url {
    border: none;
    background-color: white;
    height: 30px;
    margin: 8px 0 8px 0;
}

textarea {
    resize: none;
}